* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.distortion {
  height: 700px;
  width: 620px;
  align-self: flex-end;
}
.intro {
  align-self: center;
}
body {
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.landing {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.intro p {
  font-size: 25px;
}
.intro h2 {
  font-size: 50px;
}
